________________________________________________________________________________
COMPILERS: mpicc @ @ g++-7 @ g++-7 -E
FLAGS: -march=native @ @ -fomit-frame-pointer -funroll-loops -ffast-math -Ofast -fno-signed-zeros -ffp-contract=fast -mmmx -msse -maes -march=native -g -march=native @ -fomit-frame-pointer -funroll-loops -ffast-math -Ofast -fno-signed-zeros -ffp-contract=fast -mmmx -msse -maes -march=native -g -ffast-math -Ofast -fno-signed-zeros -ffp-contract=fast -mmmx -msse -maes -march=native @ -I/usr/local/opt/python3/lib -L/usr/local/opt/lapack/lib -L/usr/local/opt/openblas/lib -L/usr/local/opt/llvm/lib -L/usr/local/opt/sqlite/lib -L/usr/local/opt/readline/lib -L/usr/local/opt/openssl@1.1/lib -L/usr/X11/lib
